.hide {
  display: none;
}
.hidden {
  display: none;
}
.cat-info {
  display: flex;
  gap: 30px;
}
.cat-none {
  display: none;
}
h2 {
  color: rgb(47, 131, 85);
}
.breed-select {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 12px;
  width: 600px;
}

.error {
  margin: 20px;
  text-align: center;
  color: red;
}

.error-none {
  display: none;
}

.hide-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
  position: fixed;
  left: 50%;
  bottom: 50%;
}

@keyframes animloader {
  0% {
    box-shadow: -72px 0 #8bc983 inset;
  }
  100% {
    box-shadow: 48px 0 #03310a inset;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.selector-wrapper {
  position: relative;
}

.selector-wrapper.hide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}
