.hide {
  display: none;
}
.cat-info {
  display: flex;
  gap: 30px;
}
.cat-none {
  display: none;
}
h2 {
  color: rgb(47, 131, 85);
}
.breed-select {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 12px;
  width: 600px;
}

.error {
  margin: 20px;
  text-align: center;
  color: red;
}

.error-none {
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
  position: fixed;
  left: 50%;
  bottom: 50%;
}

@keyframes animloader {
  0% {
    box-shadow: -72px 0 #8bc983 inset;
  }
  100% {
    box-shadow: 48px 0 #03310a inset;
  }
}
